<h1>Popular movies</h1>
<div class="row">
    <div class="col-lg-2" *ngFor="let movie of popularMovies">
        <app-movie [movie] = 'movie' (clickButtonEmiter) = "fromChild($event)"></app-movie>
    </div>
</div>
<h1>In Theater movies</h1>
<div class="row">
    <div class="col-lg-2" *ngFor="let movie of inTheaterMovies">
        <app-movie [movie] = 'movie' (clickButtonEmiter) = "fromChild($event)"></app-movie>
    </div>
</div>
<div class="row" *ngIf="message">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"><h1>{{message}}</h1></div>
    <div class="col-lg-4"></div>
    
</div>
